engine-strict=true
save-exact=true
public-hoist-pattern[]=eslint
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=prettier
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=ts-jest
public-hoist-pattern[]=jest
public-hoist-pattern[]=@types/jest