.general-container {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.date-inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  z-index: 2;
}

.user-rule-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin: 1.6rem 0;
}
