.policy-preview {
  display: grid;
  grid-template-columns: 45.2rem auto;
  min-height: 100vh;
}

.settings-panel {
  padding: 2.4rem 1.6rem;
  border-right: 1px solid var(--color-gray200);
}

.general-container {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.date-inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.address-input-row {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}
