.whitelisted-addresses {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
}

.whitelisted-checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.address-input-row {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.additional-validation-space {
  margin-bottom: 1.4rem;
}
