.general-container {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
  
.date-inputs-row {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  z-index: 2;
}