.input {
  position: relative;
  margin: 0;
  padding: 0 0.8rem;
  border-radius: var(--radius);
  height: 3.2rem;
  max-width: 100%;
  border: 1px solid var(--color-gray200);
  -webkit-appearance: none;
  -webkit-border-radius: var(--radius);
}

.input:focus {
  outline: none;
  border: 1.2px solid var(--color-green500);
  box-shadow: 0px 2px 3px 0px #1018200d;
}

.input:disabled {
  color: var(--color-gray900);
}

.number-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-prefix-container {
  position: relative;
}

.xxsmall {
  height: 2.4rem;
}

.xsmall {
  height: 2.8rem;
}

.small {
  height: 3.2rem;
}

.medium {
  height: 3.6rem;
}

.large {
  height: 4rem;
}

.xlarge {
  height: 4.4rem;
}

.prefix {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translate(0, -50%);
  z-index: 1;
  font-size: 1.4rem;
  line-height: 2rem;
}

.prefix-padding {
  padding-left: 2rem;
}

.error-text {
  position: absolute;
  bottom: -1.4rem;
  left: 0.4rem;
  color: var(--color-gray400);
}

.full-width {
  width: 100%;
}

.full-width svg image {
  float: none;
}

.text-measurer {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-size: inherit;
  font-family: inherit;
  padding: 0 0.8rem;
}
